._*
.Trashes
ehthumbs.db
Thumbs.db
.DS_Store
.DS_Store?
venv/
ENV/
.env
.venv
env.bak/
venv.bak/
MANIFEST
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.so
*$py.class
*.py[cod]
__pycache__/
.idea/